.container{
    max-width: 620px;
    padding: 55px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
body{

    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 1500px) {
    body {
        background-color: #ECEEF2;
    }
  }

.hidden{
    display: none;
}